# Dependências do Node.js para não subir todos os arquivos no repositório
node_modules/

# Arquivo criado automaticamente pelo macOS para guardar configurações da pasta, não é necessário subir para o GIT
.DS_Store

# Arquivos gerados pela execução do mochawesome report
mochawesome-report/